body {
	font-family: 'Didact Gothic', sans-serif;
	padding: 0px;
	margin: 0px;
}

body * {
	vertical-align: top;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.l-col {
	width: 620px;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.r-col{
	width: 320px;
	display: inline-block;
	margin-left: 16px;

}

.header { 
	background-image: url('images/bg.png');
	width: 100%;
	height: 60px;
	position: relative;
	padding: 0;
	margin: 0;
	display: block;
	text-shadow: 0 2px 2px #000;
	font-weight: lighter;
	color: #fff;
}

.subheader {
	height: 87px;
	background-color: #FAFAFA;
	padding-top: 0;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
	position: relative;
	
}

.middle {
	background-color: #EFECE7;
	height: 580px;
	border-bottom: 1px solid #A7A7A7;
}

.second-body {
	background-color: #FAFAFA;
	position: relative;
	height: 348px;
}

.third-body {
	background-color: #FAFAFA;
	height: 290px;
	border-bottom: 1px solid #383737;
}

.footer {
	height: 350px;
	background: #545352;
	position: relative;
}


/*Everything uder here must be inline-block*/


.header .container * {
	display: inline-block;
}

.logo {
	height: 36px;
	margin: 10px 0;
}

.nav {
	padding: 0;
	margin: 16px 15px 16px 38px;

	
}

.nav li {
	margin-right: 33px;
	letter-spacing: 1px;
	font font-size: 43px;
	text-transform: uppercase;
}


.avatar {
	background-image: url('images/avatar.png');
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: 4px;
	box-shadow: 0 0px 6px #000;
	

}

.profile-info {
	position: absolute;
	right: 0;
}

.profile {
	margin: 16px 3px;
	padding: 0;

}


.caret {
	border-color: #949393 transparent;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	margin-top: 25px;
}

.subheader h1 {
	margin: 0;
	padding-top: 24px;
	font-size: 29px;
	color: #333333;
}

/* THIS IS THE IMAGE */

.content {
	margin-top: 30px;
	position: relative;
}

.imgbar {
	width: 620px;
	height: 55px;
	position: absolute;
	top: 30px;
	background-color: rgba(0, 15, 37, 0.71);
	color: #FFF;
}

.imgbar h2 {
	margin: 10px 17px; 
}

.imgbar-info {
	position: absolute;
	right: 25px;
	top: 18px;
	font-size: 13px;
}

.imgbar-info img {
	margin-right: 2px;
}

.imgbar-info span {
	letter-spacing: 1px;
}

/* This Is Ribbon stuff */


 .ribbon-wrapper {
	position: relative;
	margin-top: 340px;
	margin-left: 16px; 
	border-top: 0px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
	background-color: #F1C127;	height: 35px;
	width: 132px;
	position: relative;
	left:-16px;
	z-index: 2;
	border-bottom: 1px solid #BB8612;
	
}
/*
  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
*/
  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 35px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #F1C127 transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0px 9px 8px 0px;
	margin-left: -5px;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 140px;
	border-color: transparent transparent transparent #F1C127;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
	position: absolute;
	top: 0;
	left: -25px;
	width: 10px;
	height: 35px;
	background-color: #F1C127;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 35px;
	z-index: 0;
}

.ribbon-text {
	margin-left: 10px;
	margin-top: 7px;
	position: absolute;
	font-size: 13px;
	font-weight: bolder;
	letter-spacing: 1px;
	text-shadow:0 1px 1px #BB8612;
}

/* Ribbon stuff  END */

.imgbar-btm {
	width: 620px;
	height: 85px;
	background-color: #C5C2BA;
	position: relative;
	margin-top: -17px;
	margin-left: -16px;

}

.imgbar-subtext {
	font-style: italic;
	color: #454544;
	padding-top: 23px;
	padding-left: 16px;
	margin: 0;
	font-size: 17px; 
}

.arrow {
		margin-left: 6px;
		margin-top: 3px;
		height: 35px;
}

.sub {
	color: #747372;
	font-size: 13px;
	padding-left: 13px;
	margin: 0 17px;
}

/* Righ Col start here */

.box {
	width: 140px;
	height: 152px;
	background-color: #C5C2BA;
	display: inline-block;
	margin-top: 30px;
	margin-left: 15px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.11);
}

.boxx {
	width: 140px;
	height: 152px;
	background-color: #C5C2BA;
	display: inline-block;
	margin-top: 30px;
	margin-left: 21px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.11);
}	

.box h1 {
	font-size: 65px;
	color: #fff;
	text-shadow:0 0px 2px rgba(94, 91, 91, 0.5);
	margin: 15px 31px;
	text-align: center;
	position: absolute;

}

.boxx h1 {
	font-size: 65px;
	color: #fff;
	text-shadow:0 0px 2px rgba(94, 91, 91, 0.5);
	margin: 15px;
	text-align: center;
	position: absolute;

}

.inside {
	width: 140px;
	height: 37px;
	position: absolute;
	background-color: #A69F91;
	margin-top: 115px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.07);

}


.insidee {
	width: 140px;
	height: 37px;
	position: absolute;
	background-color: #A69F91;
	margin-top: 115px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.07);

}

.inside h4 {
	margin-top: 9px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #313131;
	text-shadow: 0 1px 1px rgba(225, 225, 225, .50);
}

.insidee h4 {
	margin-top: 9px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #313131;
	text-shadow: 0 1px 1px rgba(225, 225, 225, .50);
}

.btn-action {
	position: relative;
	width: 305px;
	height: 65px;
	margin-left: 15px;
	margin-top: 24px;
	display: inline-block;
	border-radius: 7px;
	background: rgb(247,239,22); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,239,22,1) 0%, rgba(234,168,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,239,22,1)), color-stop(100%,rgba(234,168,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ef16', endColorstr='#eaa80e',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgba(151, 106, 26, 0.56);
	box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.18), 
							inset 0px 1px 1px 0px rgba(255, 254, 236, 1);

	/* Text */

	color: #fff;
	text-shadow: 0 2px 1px rgba(187, 134, 18, 0.84);
	font-size: 23px;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 56px;
	text-align: center;
	z-index: 20;

}

.under-btn {
	width: 283px;
	height: 82px;
	display: inline-block;
	background-color: #FFF;
	border-radius: 7px;
	border: 1px solid rgba(128, 128, 128, 0.75);
	position: relative;
	margin-top: -7px;
	margin-left: 26px;
	box-shadow: inset 0px -3px 1px 0px rgba(0, 0, 0, 0.11);
	z-index: 10;

}

.under-btn img {
	height: 58px;
	position: absolute;
	margin-left: 13px;
	margin-top: -6px;
}

.under-btn-text1  {
		margin-left: 60px;

}

.under-btn-text2  {
	margin-left: 60px;
	margin-top: -18px;
	font-size: 13px;

}

.sub-info {
	text-align: center;
	font-size: 11px;
	color: #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	margin-left: 15px;
	width: 306px;
}

.image1-block {
	position: relative;
	display: inline-block;
	margin-top: 40px;
}

.image2-block {
	position: absolute;
	display: inline-block;
	margin-top: 40px;
	margin-left: 30px
}

 .image3-block {
 	position: absolute;
	display: inline-block;
	margin-top: 40px;
	right: 0;
 }

.image-block-text {
	font-size: 15px;
	font-weight:bold;
	margin: 6px 0 0;
	position: relative;
	letter-spacing: -1px;
}
 
.image-block-subtext {
	font-size: 10px;
	margin: 1px 0 0;
	color: #A7A7A7;
	position: relative;
}

.time {
	position: absolute;
	right: 0;
	top: 201px;
	line-height: 18px;
	font-weight: lighter;
	font-size: 12px;
}

.border-container {
	border-top: 1px solid #A7A7A7;
}

.upcoming {
	font-weight: bold;
}

table {
	border-spacing: 0;
	line-height: 35px;
	width: 630px;
}

td {
	border-bottom: 1px solid #A7A7A7;
}

.col-1-nb, .col-2-nb, .col-3-nb {
	border: none;
}

.col-1, .col-1-nb {
	font-weight: bold;
	font-size: 14px;
}

.col-2, .col-2-nb {
	font-weight: lighter;
	font-size: 14px;
}

.col-3, .col-3-nb {
	color: #A7A7A7;
	text-align: right; 
	font-size: 14px;
}

.box-behind {
	width: 300px;
	height:204px;
	position: absolute;
	right: 0;
	top: 35px;
	background: #C5C2BA;
}

.start {
	text-align: center;
	margin: 7px auto;
	color: #FFF;
	font-size: 22px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.48);
}

.back-bar {
	width: 200px;
	height: 10px;
	background-color: #AFABAB;
	margin: 25px auto;
	position: relative;
}

.btns-box {
	position: absolute;
	top: 43px;
	left: 41px;
	width: 217px;
}


.btn1 {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #646464;
	font-size: 20px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
							           0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */


}

.btn2 {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #646464;
	font-size: 20px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
							           0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */


}

.btn3 {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #646464;
	font-size: 20px;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
										     0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
}

.box-list {
	margin-left: -28px;
	margin-top: -5px;
}

.box-list li {
	display: inline-block;
	margin-left: 15px;
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 13px;
	color: #313131;
	text-shadow: 0 1px 1px rgba(225, 225, 225, .50);
}

.box-btn {
	display: inline-block;
	position: relative;
	width: 280px;
	height: 62px;
	margin: -6px 9px;
	border-radius: 7px;
	text-align: center;
	line-height: 62px;
	letter-spacing: 1px;
	font-size: 25px;
	color: #007FB2;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	border: 1px solid rgba(128, 128, 128, 1);
  background: rgb(231,230,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(231,230,226,1) 43%, rgba(209,205,200,1) 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,rgba(231,230,226,1)), color-stop(93%,rgba(209,205,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e6e2', endColorstr='#d1cdc8',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.18), 
				 inset 0px 1px 1px 0px rgba(255, 255, 255, 1);

}

.mob-cat {
	margin-top: 30px;
	margin-bottom: 6px;
	padding: 0;
	font-size: 19px;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .50);
}

.btn-col1, .btn-col2 {
	display: inline-block;
	margin-right: 20px;
}

.ftr-btn {
	width: 140px;
	height: 40px;
	border-radius: 5px;
	margin: 11px -3px;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 35px;
	color: #FFF;
	background: #616060;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .50);
	border: 1px solid rgba(0, 0, 0, 0.36);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .254);
}


.mid {
	display: inline-block;
	position: absolute;
	top: 20px;
	margin-left: 95px;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .50);
}

.connect {
	font-size: 19px;
}

.first {
	font-size: 11px;
	color: #E3E3E1;
	letter-spacing: 1px;
}

input {
	width: 147px;
	height: 40px;
	border-radius: 5px;
	padding: 0 0px 0 23px;
	margin-top: 10px;
	position: absolute;
}

input[type="text"] {
	font-size: 18px;
	color: #9B9A9A;
}

.check-box {
	margin: 21px;
	width: 42px;
	height: 43px;
	background: #9B9A9A;
	position: absolute;
	margin-left: 170px;
	margin-top: 11px;
	border-radius: 5px;
}

.check-box img {
	margin: 10px 8px;
}

.social {
	display: inline-block;
	margin-top: 74px;
	padding: 0;
	list-style: none;
}

.social li {
	padding: 8px;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 25px;
	border-bottom: 1px solid #3D3D3D;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .50);

}

.social li:last-child	{
	border: none;
}

.btn-how {
	width: 220px;	
	height: 50px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 38px;
	border-radius: 7px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .50);
	background: rgb(247,239,22); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,239,22,1) 0%, rgba(234,168,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,239,22,1)), color-stop(100%,rgba(234,168,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,239,22,1) 0%,rgba(234,168,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ef16', endColorstr='#eaa80e',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgba(70, 70, 70, 1);
	box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.18), 
							inset 0px 1px 1px 0px rgba(255, 254, 236, 1);
}

.have	{
	display: inline-block;
	margin-top: 112px;
	margin-left: 100px;
	color: #FFF;
	font-size: 19px;
	letter-spacing: 1px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .50);
}

.last {
	margin-left: 100px;
	padding-bottom: 5px;
}

.first2 {
	margin-top: 25px;
	border-top: 1px solid rgba(56, 56, 56, 1);
	font-size: 11px;
	color: #E3E3E1;
	letter-spacing: 1px;
	padding-top: 8px;
}








