body {
	font-family: 'Didact Gothic', sans-serif;
	padding: 0px;
	margin: 0px;
}

body * {
	vertical-align: top;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	
}

.header { 
	background-image: url('images/bg.png');
	width: 100%;
	height: 60px;
	position: relative;
	padding: 0;
	margin: 0;
	display: block;
	text-shadow:0 1px 1px #000;
	font-weight: lighter;
	color: #fff;
}

.middle {
	background-color: #EFECE7;
	height: 800px;
}


/*Everything uder here must be inline-block*/



.header .container * {
	display: inline-block;
}

.logo {
	height: 36px;
	margin: 10px 0;
}

.nav {
	padding: 0;
	margin: 16px 15px 16px 38px;
	
}

.nav li {
	margin-right: 33px;
	letter-spacing: 1px;
	font font-size: 43px;
	text-transform: uppercase;
}


.avatar {
	background-image: url('images/avatar.png');
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: 4px;
	box-shadow: 0 0px 6px #000;
	

}

.profile-info {
	position: absolute;
	right: 0;
}

.profile {
	margin: 16px 3px;
	padding: 0;

}


.caret {
	border-color: #949393 transparent;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	margin-top: 25px;
}

.subheader {
	height: 87px;
	background-color: #FAFAFA;
	padding-top: 0;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
	position: relative;

}

.subheader h1 {
	margin: 0;
	padding-top: 24px;
	font-size: 29px;
	color: #333333;
}

/* THIS IS THE IMAGE */

.content {
	margin-top: 30px;
	position: relative;
}

.imgbar {
	width: 620px;
	height: 55px;
	position: absolute;
	top: 30px;
	background-color: rgba(0, 0, 0, 0.55);
	color: #FFF;
}

.imgbar h2 {
	margin: 10px 17px; 
}


















